/* Theme */

html {
  font-size: 1rem;
}

.header {
  display: flex;
  justify-content: space-between;
  height: 5rem;
  width: 100%;
}

.navigation > span {
  font-size: 1.25rem;
  font-weight: bold;
  margin-right: 1rem;
}

.footer {
  color: #FFFFFF;
  background-color: #413F54;
  font-size: 1.25rem;
  font-weight: bold;
  height: 22rem;
  padding: 4rem 2rem;
  width: 100%;
}