@import "~bootstrap/scss/bootstrap";

@import "partials/card";
@import "partials/theme";

@import "sections/about_me";
@import "sections/experience";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Content */

h1, h2, h3, h4, h5, h6 {
  font-weight: 900;
}

.title {
  color: #141c3a;
}

.subtitle {
  color: rgba(10, 10, 10, 0.8);
}

p, .subtitle {
  font-size: 1.5rem;
}

/* Custom */

.home {
  text-align: center;
}

section {
  padding: 4rem 2rem;
}

.flex-row {
  display: flex;
}

.column {
  display: flex;
  flex-direction: column;
}

.icon-wrapper {
  padding: .5rem 1rem 0 0;
}

.logo-icon {
  height: 2rem;
  margin-left: 1rem;
  width: 2rem;
}

.logo-icon-white {
  height: 4rem;
  margin: auto;
  width: 4rem;
}