body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Theme */

html {
  font-size: 1rem;
}

.header {
  display: flex;
  justify-content: space-between;
  height: 5rem;
  width: 100%;
}

.navigation > span {
  font-size: 1.25rem;
  font-weight: bold;
  margin-right: 1rem;
}

.footer {
  color: #FFFFFF;
  background-color: #413F54;
  font-size: 1.25rem;
  font-weight: bold;
  height: 22rem;
  padding: 4rem 2rem;
  width: 100%;
}

/* Content */

h1, h2, h3, h4, h5, h6 {
  font-weight: 900;
}

.title {
  color: #141c3a;
}

.subtitle {
  color: rgba(10, 10, 10, 0.8);
}

p, .subtitle {
  font-size: 1.5rem;
}

/* Sections */

.home {
  text-align: center;
}

section {
  padding: 4rem 2rem;
}

.about-me {
  background-color: #86a6ff;
  color: #FFFFFF;
  padding-bottom: 10rem;
}

.card {
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  border-radius: .5rem;
}

.flex-row {
  display: flex;
}

.card-section {
  padding: 2rem;
}

.card-section.column:first-child {
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.column {
  display: flex;
  flex-direction: column;
}

.experience {
  margin-top: -10rem;
}

.icon-wrapper {
  padding: .5rem 1rem 0 0;
}